<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime nisi
    amet delectus assumenda quam autem dicta, modi placeat neque natus! Iure ea
    aliquam veritatis assumenda omnis ad sunt fugit dicta asperiores dolorum
    nesciunt voluptate porro incidunt sapiente perspiciatis pariatur id, dolore
    esse expedita quam magni cum placeat rem. Repudiandae.
  </body>
</html>
